ul {
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}
li {
    list-style-type: none;
    display: inline;
}
a {
    text-decoration: none;
    color: black;
}
.outer {
    height: 400px;
    width: 400px;
    background-color: rgb(165, 184, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    height: 100px;
    width: 100px;
    background-color: rgb(84, 61, 2);

}