* {
    padding: 0%;
    margin: 0%;
    color: rgb(255, 255, 255);
}
#navBar {
    height: 60px;
    background-color: black;
}
#logo {
    text-decoration: none;
    color: #f08804;
    font-size: 25px;
}
.maininfo {
    text-decoration: none;
}
button {
    background-color: #f08804;
}
a {
    margin-right: 200px;
}
.contentBox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#contentArea {
    height: 640px;
}
footer {
    background-color: black;
    text-align: center;
}